@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    ;
    color: #0D3B66;
}

.Policies-description{
    text-align: justify;
    font: 16px verdana, sans-serif;
    color: #0D3B66
}

#formRegistro {
    width: 50%;
    height: auto;
    justify-content: left;
    align-items: left;
    background-color: rgba(121, 115, 115, 20%);
    border-color: #e9f1e9;
    border-radius: 15px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type=text],
[type=password],
[type=email] {
    border-style: solid;
    border-width: 1px;
    border-color: #0066FF;
    border-radius: 5px;
    line-height: 30px;
    width: 90%;
    margin-bottom: 10px;
    padding: 7px;
}

label {
    font-weight: bold;
    
}

input[type=radio]{
    float: left;
    margin-right: 5px;
}

#recordarme{
    float: left;
}

#Lbl-Registro{
    background-color: rgba(255, 255, 255, 0%);
}

#acepto-condiciones {
    text-align: left;
    align-items: left;
    float: left;

}

#disclaimer {
    font: normal 10px verdana, sans-serif;
    float: left;
    margin-left: 15px;
    text-align: left;
}

#cuenta-existente a{
    text-decoration: none;
    color: #000;
    float:left;
    margin-left: 5px;
}

#Registrarse a{
    text-decoration: none;
    color: #000;
    float:left;
    margin-left: 5px;
}

.boton {
    border-style: none;
    cursor: pointer;
    background-color: #0066FF;
    color: #FAF0CA;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    width: 90%;
}

.error {
    background-color: (256, 40, 0, 0.2);
}

#errores {
    color: rgb(20, 13, 44);
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

#wrap {
    width: 98%;
    margin: 15px auto;
    text-align: left;
}

body {
    text-align: center;
}

.cabecera {
    padding: 5px;
    height: 30px;
}

#Logo-wrap {
    display: inline-block;
    width: 50%;
}

#Logo {
    display: inline-block;
    width: 50%;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
    font: italic bold 30px Georgia, Serif;
    text-shadow: -4px 2px 0 rgb(98, 233, 243), -3px 1px 0
}

#Logo:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(98, 233, 243,.5), rgb(86, 70, 233,.8));
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    width: auto;
    float: right;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    text-decoration: none;
    background-color: #0B82F2;
    border-radius: 0.5em;
    color: #fff;
    size: 20px;
    margin: 3px;
}

#btn-login{
    background-color: rgba(0, 0, 0, .0);
}


#btn-conocenos:hover{
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}

#btn-inicio:hover{
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}

#btn-contactanos:hover{
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}

#btn-signup:hover {
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}
#btn-politica:hover {
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}

#btn-terminos:hover {
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}

a {
    text-decoration: none;
    
}
a:visited{
    color: #fff;
}

a:link{
    color: #fff;
}

#Front-page {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    
}

.fpwrap-general{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 50%;
    text-align: center;
    
}
#fpwrap {
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    float: right;
    width: 45%;
    text-align: center;
    margin: 1px;
}

#fp-login {
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    float: right;
    width: 45%;
    text-align: center;
    margin: 1px;
}

#front-image {
    display: block;
    width: 50%;
    height: 600px;
}

#policies {

    width: 80%;
    height: 0 auto;
    margin: 0 auto;
}

#divisor{
    width: 100%;
    height: 50px;
}
img {
    height: 600px;
    
}