* {
    margin: 0px;
    padding: 0px;
}

#wrap {
    width: 98%;
    margin: 15px auto;
    text-align: left;
}

body {
    text-align: center;
}

.cabecera {
    padding: 10px;
    height: 30px;
}

#Logo-wrap {
    display: inline-block;
    width: 50%;
}

#Logo {
    display: inline-block;
    width: 50%;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

#Logo:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(98, 233, 243), rgb(86, 70, 233));
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    width: auto;
    float: right;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 16px verdana, sans-serif;
    text-decoration: none;
    background-color: #0B82F2;
    border-radius: 0.5em;
    padding: 5px;
    color: #fff;
    size: 20px;
    margin: 3px;
}

#btn-conocenos {
    background-color: #0B82F2;
}

#btn-contactanos {
    background-color: #0B82F2;
}

#btn-politica {
    background-color: #0B82F2;
    
}

#btn-terminos {
    background-color: #0B82F2;
    
}

#btn-signup:hover {
    transform: scale(1.1);
}

#Front-page {
    width: 100%;
    height: 600px;
   
}

#fpwrap {
    display: block;
    width: 45%;
    height: 600px;
    float: right;
    text-align: center;
    margin-top: 1px;
}

#front-image {
    display: inline-block;
    width: 45%;
    height: auto;
    margin-top: 1px;
}

img {
    width: 80%;
    height: 600px;
    margin-left: 100px;
}

h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    ;
    color: #0D3B66;
}

#signup{
    text-decoration: none;
}

/* ++++++++++++++++++++++++++++++++++++++
/* Estilos del popup de Inicio de sesion */
/* ++++++++++++++++++++++++++++++++++++++ */

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

#wrap .cabecera .btn-abrir-popup{
    background-color: #0B82F2;
    border:none;
    color: #fff;
    font: bold 14px verdana, sans-serif;
    padding: 5px;
    border-radius: 0.5em;
    size: 25px;
    margin: 0px;
    cursor: pointer;
}

#wrap .cabecera .btn-abrir-popup:hover{
    transform: scale(1.1);
    background-color: rgba(66, 183, 42, 1);
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

#recordar{
    display:block;
    text-align: left;
}

#recordar input{
    width: 15px;
    margin-right: 5px;
    float: left;
    display: block;
    text-align: left;
}

input[type=radio]{
    float: left;
    height: 15px;
}

#forgot-password{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 4px;
    width: 100%;
}

#forgot-password a{
    font-size: 14px;
}
#recordarme{
    float: left;
}

#disclaimer{
    color:#0B82F2;
    text-decoration: none;
    font-size: 12px;
}

#label-signup{
    color:#0B82F2;
    font-size: 12px;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #0B82F2;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

#footer-login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-signup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup form .btn-submit:hover {
	background: rgba(66, 183, 42, 1);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .7s ease .4s forwards; }
.popup.active h4 { animation: entradaSubtitulo .7s ease .4s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs .7s linear .7s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}